<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Authorization</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div class="container mt-4" id="main">
    <div class="row">
        <div class="col">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" v-if="showprogress">
                <div class="toast-header">
                    <strong class="mr-auto">Test end ...</strong>
                </div>
                <div class="toast-body">
                    in {{sec}}
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <a href="/">
                    <img th:src="@{/images/eltex.png}" class="img-fluid"/>
                </a>
            </div>
            <div class="progress row" v-if="showprogress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     :style="{'width':percent+'%'}"
                     :aria-valuenow="percent"
                     aria-valuemin="0"
                     aria-valuemax="100">{{percent}}%
                </div>
            </div>
            <div class="row justify-content-around mt-2">
                <button type="button" class="btn btn-primary col-md-5 " v-on:click="reset" v-if="showprogress"
                        :disabled="isButtonDisabled">{{namebutton}}</button>
                <button type="button" class="btn btn-primary col-md-5 " v-on:click="progress" v-else
                        :disabled="isButtonDisabled">{{namebutton}}</button>
                <a href="/logout" class="btn btn-outline-secondary col-md-5" role="button"
                   aria-pressed="true">Logout</a>
            </div>
            <div class="alert alert-success mt-2" role="alert" v-if="showstatus">
                <h4 class="alert-heading">Well done!</h4>
                <p>Result of test is {{random}}</p>
                <hr>
                <p class="mb-0">You can restart your test!</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>